/* Truc généraux de la page */


main {
    padding: 20px;
    text-align: center
}

#assiettes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: underline;
}
#desserts {
    padding: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 90px;
    font-weight: bold;
    text-decoration: underline;
}
#boissons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: underline;
}
h2 {
    font-size: xx-large ;
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin-top: 50px;
    font-size: xx-large;
}

.footer {
    background-color:#ffb94f;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    font-size: large;
    text-transform: uppercase;
}


/* Assiettes */
.Menus {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 3fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    border: 5px solid #31525b;
}

.photo1 {
    grid-area: 1 / 1 / 2 / 2;
}
.desc1 {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 5px solid #31525b;
}
.comm1 {
    grid-area: 1 / 3 / 2 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.photo2 {
    grid-area: 2 / 1 / 3 / 2;
}
.desc2 {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 5px solid #31525b;
}
.comm2 {
    grid-area: 2 / 3 / 3 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.photo3 {
    grid-area: 3 / 1 / 4 / 2;
}
.desc3 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 5px solid #31525b;
}
.comm3 {
    grid-area: 3 / 3 / 4 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.photo4 {
    grid-area: 4 / 1 / 5 / 2;
}
.desc4 {
    grid-area: 4 / 2 / 5 / 3;
    border-bottom: 5px solid #31525b;
}
.comm4 {
    grid-area: 4 / 3 / 5 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.photo5 {
    grid-area: 5 / 1 / 6 / 2;
}
.desc5 {
    grid-area: 5 / 2 / 6 / 3;
    border-bottom: 5px solid #31525b;
}
.comm5 {
    grid-area: 5 / 3 / 6 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.photo6 {
    grid-area: 6 / 1 / 7 / 2;
}
.desc6 {
    grid-area: 6 / 2 / 7 / 3;
}
.comm6 {
    grid-area: 6 / 3 / 7 / 4;
    border-left: 3px solid #31525b;
}

/* Desserts */

.Desserts {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    border-radius: 10px;
    place-items: center;
    border: 5px solid #31525b;
}

.p1 {
    grid-area: 1 / 1 / 2 / 2;
}
.d1 {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 5px solid #31525b;

}
.c1 {
    grid-area: 1 / 3 / 2 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.p2 {
    grid-area: 2 / 1 / 3 / 2;
}
.d2 {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 5px solid #31525b;
}
.c2 {
    grid-area: 2 / 3 / 3 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.p3 {
    grid-area: 3 / 1 / 4 / 2;
}
.d3 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 5px solid #31525b;
}
.c3 {
    grid-area: 3 / 3 / 4 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.p4 {
    grid-area: 4 / 1 / 5 / 2;
}
.d4 {
    grid-area: 4 / 2 / 5 / 3;
    border-bottom: 5px solid #31525b;
}
.c4 {
    grid-area: 4 / 3 / 5 / 4;
    border-bottom: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.p5 {
    grid-area: 5 / 1 / 6 / 2;
}
.d5 {
    grid-area: 5 / 2 / 6 / 3;
}
.c5 {
    grid-area: 5 / 3 / 6 / 4;
    border-left: 3px solid #31525b;
}

/* Boissons */

.Boissons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    border: 5px solid #31525b;
}


.ph1 {
    grid-area: 1 / 1 / 2 / 2;
}
.de1 {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 3px solid #31525b;

}
.co1 {
    grid-area: 1 / 3 / 2 / 4;
    border-left: 3px solid #31525b;
}
.ph2 {
    grid-area: 2 / 1 / 3 / 2;
    border-top: 5px solid #31525b;
}
.de2 {
    grid-area: 2 / 2 / 3 / 3;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.co2 {
    grid-area: 2 / 3 / 3 / 4;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.ph3 {
    grid-area: 3 / 1 / 4 / 2;
    border-top: 5px solid #31525b;
    border-bottom: 5px solid #31525b;
}
.de3 {
    grid-area: 3 / 2 / 4 / 3;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.co3 {
    grid-area: 3 / 3 / 4 / 4;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.ph4 {
    grid-area: 4 / 1 / 5 / 2;
    border-top: 5px solid #31525b;

}
.de4 {
    grid-area: 4 / 2 / 5 / 3;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.co4 {
    grid-area: 4 / 3 / 5 / 4;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.ph5 {
    grid-area: 5 / 1 / 6 / 2;
    border-top: 5px solid #31525b;
}
.de5 {
    grid-area: 5 / 2 / 6 / 3;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}
.co5 {
    grid-area: 5 / 3 / 6 / 4;
    border-top: 5px solid #31525b;
    border-left: 3px solid #31525b;
}


/*Bouttons de commande */

button{
    margin-top: 100px;
    width: 20rem;
    height: 5rem;
    background-color: darkslateblue;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Comic Sans MS",sans-serif;
    border-radius: 20px;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0 -50px 36px -28px inset;
}

/* Responsive */
 
 @media (max-width:701px) {
     .Menus {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(18, 1fr);
         grid-column-gap: 0;
         grid-row-gap: 0;
     }

     .photo1 { grid-area: 1 / 1 / 2 / 2; }
     .desc1 { grid-area: 2 / 1 / 3 / 2; }
     .comm1 { grid-area: 3 / 1 / 4 / 2; }
     .photo2 { grid-area: 4 / 1 / 5 / 2; }
     .desc2 { grid-area: 5 / 1 / 6 / 2; }
     .comm2 { grid-area: 6 / 1 / 7 / 2; }
     .photo3 { grid-area: 7 / 1 / 8 / 2; }
     .desc3 { grid-area: 8 / 1 / 9 / 2; }
     .comm3 { grid-area: 9 / 1 / 10 / 2; }
     .photo4 { grid-area: 10 / 1 / 11 / 2; }
     .desc4 { grid-area: 11 / 1 / 12 / 2; }
     .comm4 { grid-area: 12 / 1 / 13 / 2; }
     .photo5 { grid-area: 13 / 1 / 14 / 2; }
     .desc5 { grid-area: 14 / 1 / 15 / 2; }
     .comm5 { grid-area: 15 / 1 / 16 / 2; }
     .photo6 { grid-area: 16 / 1 / 17 / 2; }
     .desc6 { grid-area: 17 / 1 / 18 / 2; }
     .comm6 { grid-area: 18 / 1 / 19 / 2; }

     .Desserts {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(15, 1fr);
         grid-column-gap: 0;
         grid-row-gap: 0;
     }

     .p1 { grid-area: 1 / 1 / 2 / 2; }
     .d1 { grid-area: 2 / 1 / 3 / 2; }
     .c1 { grid-area: 3 / 1 / 4 / 2; }
     .p2 { grid-area: 4 / 1 / 5 / 2; }
     .d2 { grid-area: 5 / 1 / 6 / 2; }
     .c2 { grid-area: 6 / 1 / 7 / 2; }
     .p3 { grid-area: 7 / 1 / 8 / 2; }
     .d3 { grid-area: 8 / 1 / 9 / 2; }
     .c3 { grid-area: 9 / 1 / 10 / 2; }
     .p4 { grid-area: 10 / 1 / 11 / 2; }
     .d4 { grid-area: 11 / 1 / 12 / 2; }
     .c4 { grid-area: 12 / 1 / 13 / 2; }
     .p5 { grid-area: 13 / 1 / 14 / 2; }
     .d5 { grid-area: 14 / 1 / 15 / 2; }
     .c5 { grid-area: 15 / 1 / 16 / 2; }

     .Boissons {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(15, 1fr);
         grid-column-gap: 0;
         grid-row-gap: 0;
     }

     .ph1 { grid-area: 1 / 1 / 2 / 2; }
     .de1 { grid-area: 2 / 1 / 3 / 2; }
     .co1 { grid-area: 3 / 1 / 4 / 2; }
     .ph2 { grid-area: 4 / 1 / 5 / 2; }
     .de2 { grid-area: 5 / 1 / 6 / 2; }
     .co2 { grid-area: 6 / 1 / 7 / 2; }
     .ph3 { grid-area: 7 / 1 / 8 / 2; }
     .de3 { grid-area: 8 / 1 / 9 / 2; }
     .co3 { grid-area: 9 / 1 / 10 / 2; }
     .ph4 { grid-area: 10 / 1 / 11 / 2; }
     .de4 { grid-area: 11 / 1 / 12 / 2; }
     .co4 { grid-area: 12 / 1 / 13 / 2; }
     .ph5 { grid-area: 13 / 1 / 14 / 2; }
     .de5 { grid-area: 14 / 1 / 15 / 2; }
     .co5 { grid-area: 15 / 1 / 16 / 2; }

    .footer {
        height: 7rem;
        font-size: medium;
        margin: 0;
    }
}