body{
    background-image: url("fond_frite.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    border-collapse:collapse;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgb(238, 237, 237);
    width: 50rem;
    height: 30rem;
    padding: 5px;
    margin:2rem auto;

}
td {
    border:1px solid black;
    

}
th{
    border:1px solid black;
    text-align: center;
    padding:0.5rem;
}
#connexion{
    display:grid;
    padding:1rem;
    
    
}
#inscription{
    display:grid;
    padding:2rem;
}

a {
    padding-top: 1rem;
    text-align :center;
}
button{
    margin-top:2rem;


    display:inline-block;
    padding:0.4em 0;
    
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;


}
button:active{
    top:0.1em;
}


@media (max-width:701px){
    table,
    tbody,
    tr,
    td {
      display: block;
      width: auto!important;
      margin:0.5rem;
      
    }
  th{
    display:none;
  }
  table{border:none;}

}

.footer {
    background-color:#ffb94f;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    font-size: large;
    text-transform: uppercase;
}

@media screen and (max-width:701px) {
    .footer {
        height: 7rem;
        font-size: small;
        margin: 0;
    }
}
